  <!-- Legacy Styles -->
<link rel="stylesheet" href="https://secure.tesco.com/clubcard/boost/CMSAssets/global/rewards/default/css/bootstrap2.3.2.css" />
<link rel="stylesheet" href = "https://secure.tesco.com/clubcard/boost/CMSAssets/global/rewards/default/css/style.css" />
<link rel="stylesheet" href="https://secure.tesco.com/clubcard/boost/CMSAssets/global/rewards/default/css/CommonCss?v=BI2ebgqik-iwC2GroWedP9-F9OXux-I5Pl31pHAfS9Q1" />
<!-- DDL Styles -->
<link rel="stylesheet" href="{{path '/css/ddl-components.css'}}">


{{!-- <div class="container"> --}}

  <!-- CLubcard Skinny Banner-->
  <div class="ddl-skinnybnr">
    <a class="ddl-skinnybnr__cta" data-linkid="" href="#">
      <div class="ddl-skinnybnr__bnr">
        <img class="ddl-skinnybnr__bnr__img" src="{{img}}" alt="image">
      </div>
      <div class="ddl-skinnybnr__copy">
        <h2 class="ddl-skinnybnr__copy__head">{{headline}}</h2>
        <p class="ddl-skinnybnr__copy__subhead">{{subhead}}</p>
        <!-- <p class="ddl-skinnybnr__copy__small">terms and conditions apply</p> -->
      </div>
      <div class="ddl-skinnybnr__icon">
         <button class="ddl-skinnybnr__icon__primary ddl-btn-primary ddl-btn-primary--inverse" type="submit">
          <!-- <span class="ddl-btn-primary__label">Join now</span> -->
           <i class="ddl-icon  ddl-icon--xs ddl-btn-primary__icon">
             <svg class="ddl-asset-forward_link"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{path '/svgs/icons.svg'}}?#icon_forward_link"></use></svg>
           </i>   
        </button>               
      </div>
    </a>
  </div>

{{!-- </div> --}}


